.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# project 
checkpoints/
*.png 
*.jpeg 
*.jpg 
*.csv
*.txt
*.xlsx
*.ckpt 
datasets/big_ds/img_highres.zip
datasets/big_ds/img_highres/img_highres/.DS_Store
*.h5